<div  class="notification-container">
    <span class="notification-title">Notifications</span>
    <div *ngFor="let notification of notifications.slice().reverse()" (click)="onClick(notification)" class="notification">
        <!-- <span class="title">{{item.title}}</span> -->
        <div class="body">
            <span *ngIf="notification.item.user" class="user">{{notification.item.user.username}}</span>
            <span class="message">{{notification.item.message}}</span>
        </div>
        <div class="footer">        
            <span>{{notification.item.creationTime | date}}</span>
        </div>
    </div>
</div>

<style>
    :host {
        display: block;
        height: 100%;
        width: 250px;
        background: white;
        flex-shrink: 0;
        border-left: 1px solid #d6d6d6;
    }

    .notification-container {
        display: block;
        margin-top: 5px;

        text-align: center;

        overflow-y: scroll;
        height: 900px;
    }

    .notification-title {
        font-size: 20px;
        font-weight: 300;
    }

    .notification {
        display: flex;
        flex-direction: column;

        border-top:  1px solid #eee;
        border-bottom:  1px solid #eee;

        padding: 5px 0;

        cursor: pointer;
    }

    .notification:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        transform: scale(1.01);
    }

    .title {
        align-self: flex-start;
        margin-left: 10px;
    }

    .body {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    .body > .user {
        text-transform: capitalize;
        margin-right: 5px;
    }


    .footer {
        display: flex;
        justify-content: flex-end;

        margin-top: 10px;
    }

    .footer > span {
        margin-right: 5px;

        font-size: 11px;
        font-style: italic;

        opacity: .6;
    }
</style>