<div [id]="comment.id" class="header">
    <div class="user-picture">
        <user-profile-picture [(src)]="comment.user.pictureUrl"></user-profile-picture>
    </div>
    <div class="username">
        {{comment.user.username}}
        
        <div class="date">
            {{comment.creationTime | date}}
        </div>
    </div>
</div>

<div class="body">
  <div *ngIf="comment.content">
      <span *ngFor="let item of comment.content">
          <youtube-post-content  *ngIf="item.type === 'youtube'" [postContent]="item"></youtube-post-content>
          <picture-post-content *ngIf="item.type === 'picture'" [postContent]="item"></picture-post-content>
          <video-post-content *ngIf="item.type === 'video'" [postContent]="item"></video-post-content>
          <a class="text" *ngIf="item.type === 'url'" [href]="item.value.url" target="_blank">{{item.value.url}}</a>
          <span class="text" *ngIf="item.type === 'text'">{{item.value.message}}</span>
      </span>
  </div>
</div>


<style>
        :host {
          background: white;
          display: block;
          border-radius: 4px;
          border: 1px solid #d8d8d8;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      
        .user-picture {
          width: 75px;
          height: 75px;
          border-radius: 25px;
        }
      
        user-profile-picture {
          height: 75px;
          width: 75px;
        }
      
        .header {
          padding: 10px 10px 0 10px;
          display: flex;
        }
      
        .username {
          padding: 0 15px;
          flex: 1;
          font-size: 16px;
        }
      
        .date {
          font-size: 12px;
        }
      
        .body {
          padding: 10px;
        }
      
      
        .actions>a {
          color: #eee;
          text-shadow: 0 0 3px black;
          cursor: pointer;
      
        }

        .text {
          margin-right: 5px;
        }
      
      
        pre.message {
          background: none;
          margin: 0;
          border: none;
        }
      
</style>