<nav>
  <add-channel></add-channel>
  <div class="item" *ngFor="let item of channels">
    <a [routerLink]="item.id">{{item.name}}</a>
  </div>
</nav>

<style >
  :host {
    display: block;
    padding: 0;
    margin: 0;
  }

  add-channel {
    border-bottom: 1px solid #eee;

  }
  
  .item {
    display: block;
    padding: 8px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }

</style>
