<div [id]="post.id" class="header">
  <div class="user-picture">
      <user-profile-picture [(src)]="post.user.pictureUrl"></user-profile-picture>
  </div>
  <div class="username">
    {{post.user.username}}
    
    <div class="date">
        {{post.creationTime | date}}
    </div>
  </div>
  <div class="right">
    <div class="actions">
      <a [class.liked]="post.liked" (click)="toggleLike()">
        <fa-icon [icon]="[post.liked ? 'fas' : 'far', 'heart']" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
<div class="body">
  <div *ngIf="post.content">
    <span *ngFor="let item of post.content">
      <youtube-post-content  *ngIf="item.type === 'youtube'" [postContent]="item"></youtube-post-content>
      <picture-post-content *ngIf="item.type === 'picture'" [postContent]="item"></picture-post-content>
      <video-post-content *ngIf="item.type === 'video'" [postContent]="item"></video-post-content>
      <a class="text" *ngIf="item.type === 'url'" [href]="item.value.url" target="_blank">{{item.value.url}}</a>
      <span class="text" *ngIf="item.type === 'text'">{{item.value.message}}</span>
    </span>
  </div>
</div>
<div class="footer">
  <nz-collapse [nzBordered]="false" *ngIf="post.comments && post.comments.length > 0">
    <nz-collapse-panel [nzHeader]="post.comments.length +' commentaire' + (post.comments.length > 1 ? 's' : '')">
        <div *ngFor="let comment of post.comments">
          <post-comment [comment]="comment"></post-comment>
        </div>
    </nz-collapse-panel>
  </nz-collapse>

  <user-inputs class="input" [channelId]="post.channel.id" (submitted)="onComment($event)"></user-inputs>
</div>
<style>
  :host {
    background: white;
    display: block;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .user-picture {
    width: 75px;
    height: 75px;
    border-radius: 25px;
  }

  user-profile-picture {
    height: 75px;
    width: 75px;
  }

  .header {
    padding: 10px 10px 0 10px;
    display: flex;
  }

  .username {
    padding: 0 15px;
    flex: 1;
    font-size: 16px;
  }

  .date {
    font-size: 12px;
  }

  .body {
    padding: 10px;
  }

  .right {
    display: flex;
    /*align-items: center;*/
    justify-content: flex-end;
  }

  .actions>a {
    color: #eee;
    text-shadow: 0 0 3px black;
    cursor: pointer;

  }

  .actions>a.liked {
    color: #f17070;
    text-shadow: none;
    cursor: default;
  }

  pre.message {
    background: none;
    margin: 0;
    border: none;
  }


  .text {
          margin-right: 5px;
        }
      
  
  .input {
    margin-bottom: 5px;
  }

</style>
