<div class="social-app-feed">
    <div *ngFor="let item of items">
        <post [post]="item" (ready)="onPostReady($event)"></post>
    </div>
</div>
<div class="social-app-inputs">
    <user-inputs (submitted)="onSubmit($event)" [channelId]="channelId"></user-inputs>
</div>
<style>
    :host {
        display: block;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
            background: #e9ebee;

    }
     .social-app-feed {
        flex: 1;
        overflow: auto;
        padding: 0 20px;
    }
    .social-app-inputs {
        border-top: 1px solid #d6d6d6;
    }
</style>